<!DOCTYPE html>
<div>

  <md-tabs md-dynamic-height md-border-bottom>

    <md-tab label="Preview">

      <md-content layout-padding class="np-layout-grid">
          <md-grid-list
            md-cols-sm="2"
            md-cols-md="3"
            md-cols-gt-md="4"
            md-row-height="1:1"
            md-gutter="8px">
            <md-grid-tile ng-repeat="map in feed.entries | filter:entryfilter" ng-click="gotoMap(map.id);">
              <div class="np-grid-flex">
                <img alt="{{ img.title(map) }}" title="{{ img.title(map) }}" ng-src="{{img.src(map)}}" class="np-grid-img">
              </div>
              <md-grid-tile-footer>
                <h3>{{ img.title(map) }}</h3>
              </md-grid-tile-footer>
            </md-grid-tile>
          </md-grid-list>


          <span ng-if="feed.opensearch.totalResults > 0">{{feed.opensearch.totalResults}} results, showing {{ feed.entries.length }}
            <button ng-if="showNext()" ng-click="next()">More</button>
          </span>
          <span ng-if="feed.opensearch.totalResults == 0">No results</span>

      </md-content>

    </md-tab>

    <md-tab label="View">
      <md-content>
        <section ng-repeat="map in feed.entries">

          <span ng-repeat="image in img.editImageLinks(map.links)">
            <img ng-src="{{img.preview(image.href, 'medium')}}" alt="{{ image.title }}" title="{{ image.title || img.title(map) }}" width="100%">
          </span>
        </section>
      </md-content>
    </md-tab>

    <md-tab label="Search">
      <npdc-search:input feed="feed"></npdc-search:input>
      <npdc:search feed="feed"></npdc:search>
    </md-tab>

  </md-tabs>
</div>
