<!DOCTYPE html>
<div ng-if="formula">
  <npdc:formula></npdc:formula>
</div>
<div ng-if="!formula">
  <npdc:edit-button class="np-primary-control"></npdc:edit-button>
</div>

<article ng-if="!formula" ng-show="document" ng-controller="MapArchiveShowController as ctrl" layout-padding class="md-body-2">



  <h2 ng-if="document && document._rev && document.restricted == true" style="background-color: yellow">
    <span>{{'Restricted'|t|uppercase}} ({{ 'rights expire in'|t}} {{document.rightsExpire | year }})</span>
  </h2>

  <md-card>
     <md-card-title>
       <md-card-title-text>


         <span class="md-display-2">{{ img.title(document) }}</span><!-- md-headline -->
         <span ng-if="document.subtitle" class="md-subhead">{{ document.subtitle }}</span>
         <h2 ng-if="document.publishers.length > 0" ng-repeat="publisher in document.publishers" class="md-subhead">
           {{publisher.name}}
         </h2>
       </md-card-title-text>
     </md-card-title>

     <md-card-content>
       <div layout="row">

         <header>

<!-- {{ principalInvestigators(document.contributors) | json }} -->

           <!-- <h3>
             <a href="?filter-publication.publisher={{document.publication.publisher}}">{{ document.publishers[0].name }}</a>
           </h3> -->



           <span ng-if="document.restricted === true && rightsHolders">
             © {{ rightsHolders.join(' / ') }}
           </span>
           <!-- publisher -->
           <!-- <span ng-if="document.series">
             / series: <a ng-href="?filter-publication.series={{document.publication.series}}">{{ document.publication.series }}</a> / type: <a ng-href="?q=&filter-type={{document.type}}">{{document.type}}</a>
           </span>

             <span ng-if="document.publication.code">
               / code: <a ng-href="?filter-publication.code={{document.publication.code}}">{{ document.publication.code }}</a>
             </span>

            <span ng-if="true">
               / scale: <a ng-href="?filter-scale={{document.scale}}">1:{{document.scales|json}}</a>
             </span>
           -->
           <!--
             / published: <a ng-href="?filter-publication.year={{document.publication.year}}">{{ year(document.publication.year) }}</a> in <a ng-href="?filter-publication.country={{document.publication.country | uppercase }}">{{ document.publication.country }}</a>
           -->
              <!-- / access: <a href="?filter-restricted={{ document.restricted == true ? 'true' : 'false' }}">{{ document.restricted == true ? 'restricted' : 'open' }}</a>-->



         </header>

         <section ng-if="images">
             <span ng-if="images.length > 0" ng-repeat="image in images">
               <a ng-if="document.restricted != true" ng-href="{{ img.large(image, document)}}">
                 <img ng-src="{{ img.icon(image, document)}}"
                   width="400"
                   alt="{{img.basename(image.filename)}}"
                   title="{{img.basename(image.filename)}} [{{ img.mm(image.width, image.ppi) }} × {{ img.mm(image.height, image.ppi)}} mm]" />
               </a>

               <img ng-if="document.restricted" ng-src="{{ img.icon(image, document)}}"
                   width="400"
                   alt="{{img.basename(image.filename)}}"
                   title="{{img.basename(image.filename)}} [{{ img.mm(image.width, image.ppi) }} × {{ img.mm(image.height, image.ppi)}} mm]" ></img>
               <span ng-if="images.length == 1" class="md-caption"><br>Original print size: {{ img.mm(image.width, image.ppi) }} × {{ img.mm(image.height, image.ppi)}} mm</span>
             </span>

           </section>

       </div>
     </md-card-content>
   </md-card>



      <md-card>



         <md-card-title>
           <md-card-title-text>
             <span class="md-headline">Download</span>
           </md-card-title-text>
         </md-card-title>

         <md-card-content>
           <div layout="row" ng-if="document.license || security.hasSystem(resource.path)">

             <a download ng-href="{{img.all_files_uri(document, quality)}}">
               <md-button class="md-fab" aria-label="Download image files">
                 <md-icon>file_download</md-icon>
                 <md-tooltip>Download image files in {{ quality }} quality</md-tooltip>
               </md-button>
             </a>

             <md-input-container>
               <label>Download quality</label>
               <md-select ng-model="quality">
                 <md-option ng-repeat="q in qualities" ng-value="q.value">
                   {{q.text}}
                 </md-option>
               </md-select>
             </md-input-container>


           </div>
           <p class="md-caption">For high quality images, the downloaded ZIP archive will expand to {{ total_size() | bytes }} (number of files: {{images.length}})</p>


           <span class="md-subhead"><span ng-show="document.license" xmlns:dct="http://purl.org/dc/terms/">

             <span ng-show="document.license =='http://creativecommons.org/publicdomain/mark/1.0/'">
               <a rel="license" href="http://creativecommons.org/publicdomain/mark/1.0/">
                 <img src="//i.creativecommons.org/p/mark/1.0/88x31.png" style="border-style: none;" title="Public Domain" alt="Public Domain" />
               </a>
             </span>
             <span ng-show="document.license =='http://creativecommons.org/licenses/by/4.0/'">
               <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                 <img alt="CC BY 4.0 license" title="CC BY 4.0 license" style="border-width:0" src="//i.creativecommons.org/l/by/4.0/88x31.png" />
               </a>
             </span>
           </span></span>

         </md-card-content>
       </md-card>



  <section ng-if="document.geometry && document.geometry.bbox">


    <leaflet ng-if="document && mapOptions.coverage" options="mapOptions" class="coverage-map" style="height: 600px;"></leaflet>
    <div><b ng-init="bbox=document.geometry.bbox">bbox</b>
    {{ bbox | json }}
    </div>

  </section>

  <section ng-if="document.scales">
    <h3>Målestokk</h3>
    <span ng-repeat="scale in document.scales">
      1:{{scale}} |
    </span>
  </section>

  <section ng-if="document.summaries">
     <h3>Summary</h3>
     <p ng-repeat="s in document.summaries">{{ s.summary }} [{{ s.lang }}]</p>
  </section>

   <section ng-if="document.comments">
    <h3>Comment</h3>
    <p ng-repeat="c in document.comments">{{ c.comment}} [{{ c.lang }}]</p>
  </section>



    </section>



  <section ng-if="document.files"><!--&& document.license ? -->

    <md-divider></md-divider>
    <h2>
      <span ng-if="!document.license && !security.hasSystem(resource.path)">Files (access is restricted)</span>
      <span ng-if="document.license || security.hasSystem(resource.path)"><md-icon >file_download</md-icon>Download</span>
    </h2>



    <table>

      <tr style="font-weight: bolder">
        <td></td><td>High quality (print)</td><td>Medium quality (web)</td></tr>
      <tr ng-repeat="image in images">
          <td><md-icon title="{{ image.filename }}: {{image.length | bytes }} ({{ image.ppi }}PPI)">image</md-icon></td>
          <td>
            <a ng-if="document.license || security.hasSystem(resource.path)" download ng-href="{{image.uri}}{{ (key().length > 64) ? '?key='+key() : ''}}" integrity="{{image.integrity}}">{{image.filename}}</a>
            <span ng-if="!document.license && !security.hasSystem(resource.path)">{{image.filename}}</span>
            &nbsp;
          </td>
          <td>
            <a ng-if="document.license || security.hasSystem(resource.path)" ng-href="{{ img.large(image, document)}}">
              {{ img.filename(img.large(image, document))}} </a>
            <span ng-if="!document.license && !security.hasSystem(resource.path)">{{ img.basename(image.filename) }}-3000.jpeg</span>
            &nbsp;
          </td>
      </tr>
      </table>
      <span ng-if="!document.license && !security.hasSystem(resource.path)">The resources above are only accessible for authorized users</span>
      <!--<h3>Medium quality</h3>
      <table>
      <tr ng-repeat="image in images">
          <td><md-icon title="{{image.length | bytes }} - {{image.type }}">image</md-icon></td>
          <td>
            <a ng-if="document.license || security.hasSystem(resource.path)" download ng-href="{{image.large(image,document)}}">{{ img.basename(image.filename) }}-3000.jpeg</a>
            <span ng-if="!document.license && !security.hasSystem(resource.path)">{{ img.basename(image.filename) }}-3000.jpeg</span>
          </td>
      </tr>
      </table>-->

      <div ng-if="!document.license && security.hasSystem(resource.path)">
        Note: The links abobe are ephemeral and cannot be shared...
      </div>

      <div ng-if="!document.license && restricted == false">
        WARN: No license 8and rest => false
      </div>

       <div ng-if="restricted == true && !document.license && !security.hasSystem(resource.path)">
        We cannot distribute this map, contact map section to request access
      </div>





  <section ng-if="document.license" xmlns:dct="http://purl.org/dc/terms/">

    <p ng-if="document.license =='http://creativecommons.org/publicdomain/mark/1.0/'">
      <a rel="license" href="http://creativecommons.org/publicdomain/mark/1.0/"><img src="//i.creativecommons.org/p/mark/1.0/88x31.png" style="border-style: none;" alt="Public Domain Mark" /></a>
      Karta over er eigd av alle (ikkje verna av opphavsrett)
      <!-- (<span property="dct:title">{</span>, av <a href="URI" rel="dct:creator"><span property="dct:title">AUTHOR1</span></a>),
      identifisert av <a href="URI2" rel="dct:publisher"><span property="dct:title">PERSON1</span></a>,
      -->
    </p>
    <p ng-if="document.license =='http://creativecommons.org/licenses/by/4.0/'">
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />
        <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/StillImage" property="dct:title" rel="dct:type">
          The linked map images of <a ng-href="archive/{{document.id}}">{{ img.title(document)}}</a>
        </span> is free to reuse by attributing <a xmlns:cc="http://creativecommons.org/ns#" ng-href="{{document.rightsHolder.uri }}"
        property="cc:attributionName" rel="cc:attributionURL">{{ attributionNames[0] ||  attributionNames|json }}</a> and is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
    </p>
  </section>


  <section ng-if="similar.maps.length > 0">

    <h3>See also</h3>

    <div>
      <ul>
        <li ng-repeat="m in similar.maps">
          <span ng-show="m.restricted == true">[restricted]</span>
          <span ng-show="false">{{ m._score}}</span>
          <a ng-href="archive/{{ m.id }}">{{ m.title }}</a> ({{ m.publication.year }}) - {{ m.type }}</li>
      </ul>
    </div>

  </section>

  <section ng-if="document.tags">
    <h3>Tags</h3>
    <span ng-repeat="tag in document.tags">
      <a href="archive?q={{tag}}">{{tag}}</a> /
    </span>
  </section>

  <section ng-if="document.publication.languages">
    <h3>Languages</h3>
    <span ng-repeat="code in document.publication.languages">
      {{ language(code) }}</a>
    </span>
  </section>

  <section ng-if="document.placenames">
    <h3>Placenames</h3>
    <span ng-repeat="p in document.placenames">
      <span ng-if="p.placename">
        <a ng-href="archive?q={{p.placename}}">{{p.placename}}</a>,
      </span>
      <span ng-if="p.area">
        <a ng-href="archive?q={{p.area}}">{{ p.area }}</a>,
      </span>
      <a ng-href="archive?filter-placenames.country={{p.country}}">{{ p.country }}</a>
    </span>
  </section>

  <section ng-if="document.contributors">
    <npdc:persons></npdc:persons>
    <npdc:organisations></npdc:organisations>
  </section>



  <!--<md-divider></md-divider>


    <a ng-href="archive/{{document.id}}">{{ img.title(document)}}</a>

      was scanned by <a ng-href="?filter-processor.name={{document.processor.name }}">{{document.processor.name || document.created_by }}</a>,
      {{ editors(document.contributors) | json }}
      updated {{document.updated.split('T')[0] }} [revision number {{ document._rev.split('-')[0] }}]
    </p>

  -->
  <p>

   <a ng-href="archive/?filter-type={{document.type}}">{{document.type}}</a> map
 </p>

  <npdc:metadata document="document" resource="resource"></npdc:metadata>


  <a href="https://data.npolar.no/dataset/cf9a9474-986b-4b9a-875e-8f82f9bfccb3">{{ 'Metadata'|t}} </a>

</article>
